html {
  height: 100%;
  width: 100%;
}
body {
  background: #9b9b9b !important;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App{
  height: 100%;
  width: 100%;  
}
#root {
  /*height: 100%;*/
  width: 100%;
}
.container {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
}
.container .col-md-3 {
  min-height: 700px;
}
.container .col-md-9 {
  text-align: center;
}
.row {
  height: 100%;
  width: 100%; 
}