@media (max-width: 480px) {
  footer p {
    float: left;
    max-width: 150px;
    cursor: default;
    text-align: left;
    margin: auto 0;
    padding: 3px;
  }
  footer img {
    margin-top: 20px;
  }
  .card {
    width: 15rem !important;
  }
}
@media (max-width: 771px) {
  .details-overview, .details-tagline {
    max-width: 320px !important;
  }
  .details-img {
    width: 350px !important;
    height: 197px !important;
    min-width: unset !important;
    min-height: unset !important;
    background-color: #3a3a3a;
  }
}
@media (max-width: 510px) {
  #root {
    padding-bottom: 180px;
  }
  .content-col {
    padding: 0 5px;
  }
  .details-table {
    max-width: 280px !important;
    font-size: 10px !important;
  }
  .details-table a {
    display: inline-block;
    max-width: 100px;
    word-wrap: break-word;
  }
  .review-form, .user-review {
    max-width: 280px !important;
  }
  .details-overview, .details-tagline {
    max-width: 280px !important;
    font-size: 19px !important;
    padding: 20px !important;
  }

}

@media (max-width: 319px) {
  footer p {
    display: none;
  }
}

.user-review {
  margin: 0 auto !important;
}