@media (max-width: 480px) {
  footer p {
    float: left;
    max-width: 150px;
    cursor: default;
    text-align: left;
    margin: auto 0;
    padding: 3px;
  }
  footer img {
    margin-top: 20px;
  }
}
@media (max-width: 319px) {
  footer p {
    display: none;
  }
}