form > label {
  color: #eaeaea;
  font-size: 26px;
  font-weight: bold;
  padding-top: 5px;
}

form > button {
  margin-top: 7px;
}

.content-col .input-form {
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
}